<table border="2" cellpadding="10">
    <tr>
        <td bgcolor="Yellow">Nama</td>
        <td bgcolor="Yellow">Alamat</td>
        <td bgcolor="Yellow">Jenis Kelamin</td>
    </tr>
    <tr>
        <td>Giwang Setiawan</td>
        <td>Sambas</td>
        <td>L</td>
    </tr>
    <tr>
            <td>Arial</td>
            <td>Sintang</td>
            <td>L</td>
    </tr>
    <tr>
            <td>Yoga</td>
            <td>Singkawang</td>
            <td>L</td>
    </tr>
    <tr>
            <td>Putri</td>
            <td>Sanggau</td>
            <td>P</td>
    </tr>
    <tr>
            <td>Ririn</td>
            <td>Mempawah</td>
            <td>P</td>
    </tr>
</table>